:root {
	--thin-blk: 1px solid black;
}

* {
	display: flex;
}

body {
	height: 100vh;
	width: 100vw;
	flex-direction: column;
}
header {
	flex-direction: column;
}
header,
nav,
main,
aside,
section,
footer {
	border: var(--thin-blk);
	margin: 5px;
	align-items: center;
	justify-content: center;
}

nav {
	height: 5rem;
	width: 100%;
}

main {
	flex: 1;
}

aside {
	width: 20rem;
	height: 100%;
}

section {
	flex: 1;
	height: 100%;
}

footer {
	height: 3rem;
}
